/* ------ Fonts ----- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Playfair+Display:wght@500&display=swap");

/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;*/

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  margin: auto;
  background-color: #ffffff;
  /* background: rgb(235,219,195);
  background: linear-gradient(144deg, rgba(235,219,195,1) 11%, rgba(255,255,255,1) 100%); */
}

article {
  background-color: #ebdbc354;
  padding: 20px;
  margin: auto;
  margin-top: 30px;
  width: 80%;
  border-radius: 10px;
}

#search {
  width: 300px;
  height: 21px;
  resize: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 18px;
  border-radius: 30px 0px 0px 30px;
  border: none;
  margin-top: 18px;
  outline: none;
  padding-left: 10px;
}
#searchBar {
  display: inherit;
}

#searchBtn {
  font-family: "Montserrat", sans-serif;
  background-color: #ebdbc3ec;
  margin-left: -6px;
  padding-top: 3px;
  height: 22.2px;
  font-weight: 100;
  font-size: 14px;
  cursor: pointer;
  border-radius: 0px 30px 30px 0px;
  border: none;
}

#searchBtn:hover {
  background-color: #dad0d0;
}

.topTitles {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-size: 60px;
  text-align: center;
  color: rgb(66, 62, 62);
  padding: 30px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  padding: 10px;
  text-align: justify;
  font-size: 45px;
  text-align: left;
  color: rgb(66, 62, 62);
}

p {
  font-family: "Montserrat", sans-serif;
  margin: auto;
  background-color: #ffffff;
  padding: 10px;
  text-align: justify;
  line-height: 1.6;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  color: rgb(66, 62, 62);
  padding: 20px;
  margin-bottom: 10px;
}

img {
  max-width: 300px;
  margin: auto;
}

#buttonPostLink {
  background-color: #eeebe8a6;
  border: solid #837669 0.2px;
  color: rgb(66, 62, 62);
  padding: 10px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  margin-top: 20px;
}

#buttonPostLink:hover {
  background-color: rgb(235, 219, 195);
}

#form {
  width: 80%;
  margin: auto;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1em;
  padding-bottom: 150px;
}

#titleForm {
  width: 100%;
  height: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 18px;
  margin-top: 20px;
}

#titleCount {
  padding-bottom: 60px;
  background-color: #ebdbc300;
}

#descriptionForm {
  width: 100%;
  height: 100px;
  resize: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 18px;
  margin-top: 20px;
}

#descriptionCount {
  padding-bottom: 60px;
  background-color: #ebdbc300;
}

#titleCount,
#descriptionCount,
#contentCount {
  text-align: center;
}

#contentForm {
  width: 100%;
  height: 200px;
  resize: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 18px;
  margin-top: 20px;
}

#contentCount {
  padding-bottom: 60px;
  background-color: #ebdbc300;
}

#gifForm {
  width: 100%;
  height: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 18px;
  margin-top: 20px;
}

#gifCount {
  padding-bottom: 60px;
  background-color: #ebdbc300;
}

#submitForm {
  background-color: #c2b19f52;
  border: solid #837669 0.2px;
  color: rgb(66, 62, 62);
  padding: 20px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  margin-top: 20px;
}

#submitForm:hover {
  background-color: rgb(235, 219, 195);
}

#commentHeader {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: -2px;
  padding: 20px;
}

#postSection i {
  color: rgb(66, 62, 62);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5%;
  margin-top: 20px;
}

button {
  background-color: #eeebe8a6;
  border: solid #d6cdc5 0.1px;
  color: rgb(66, 62, 62);
  padding: 10px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  margin-bottom: 20px;
}

button:hover {
  background-color: #f8f6f4a6;
}
button:disabled {
  background-color: #9599a1;
}

.commentsArea {
  background-color: #c4b6a154;
  /* padding: 20px; */
  margin: auto;
  width: 100%;
  border-radius: 10px;
}

.commentsArea p {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  max-width: 80%;
  text-align: justify;
}

.commentsArea textarea {
  width: 90%;
  height: 70px;
  resize: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  outline: none;
}

.commentsArea input {
  background-color: #ffffffce;
  border: solid #d6cdc5 0.1px;
  color: rgb(66, 62, 62);
  padding: 10px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  margin-bottom: 20px;
}

.commentsArea input:hover {
  background-color: #eeebe8a6;
}

#commentInput textarea {
  outline: none;
}

/* ------ Header ----- */
header {
  padding-bottom: 30px;
}
/* ------ Navbar ----- */
nav {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #cfbea3;
  z-index: 1;
}
nav ul {
  list-style-type: none;
  display: inline-block;
}

nav ul li {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
}

nav ul li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1em;
  font-weight: 500;
  color: #5e6472;
}

nav ul li a:hover {
  font-weight: 900;
  color: #4d525e;
}

@media only screen and (max-width: 800px) {
  nav ul li a {
    font-size: smaller;
  }

  #search {
    margin-top: 20px;
  }

  nav ul li {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 480px) {
  nav ul li a {
    font-size: x-small;
  }

  img {
    max-width: 200px;
  }

  #topTitles {
    margin-top: 150px;
  }

  #searchBtn {
    margin-top: 10px;
    border-radius: 8px;
  }

  #search {
    border-radius: 8px;
  }

  nav ul li {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* ------ End of Navbar ----- */
/* ------ End of Header ----- */
/* ------ Body ----- */
/* ------ Section ----- */

/* ------ To the Top button ----- */
#buttonToTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: black;
  outline: none;
  border: none;
  cursor: pointer;
}

#buttonToTop:hover {
  background-color: rgb(194, 191, 191);
}

#buttonToTop:active {
  background: rgb(150, 149, 149);
}

/* ------ End the Top button ----- */
/* ------ End of Section ----- */
/* ------ End of Body ----- */
